/* margin used to stretch to edge of screen */
/* padding used to create space between 'home' element and top of screen */
main {
    background-color: #e9a15d;
    height: -100px;
    margin-left: -100px;
    margin-top: -20px;
    padding-top: 1px;
    padding-left: -50px;
}

/* design for home button, */
.home a {
    background-color: #a52a2a;
    border-bottom: 3px solid #a52a2a;
    border-right: 3px solid #a52a2a;
    border-color: rgb(140, 33, 33);
    margin-left: 100px;
    padding: 6px;
    position: relative; bottom: -10px;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

/* to separate from the 'home' element */
.description {
    margin-top: 100px;
    margin-left: 200px;
    gap: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    display: flex;
}

/* use properties to bring intstruction closer to title of dish */
.description h1 {
    padding-left: -50px;
}

.food-description {
    margin-left: 200px;
    position: relative; bottom: 400px;
    font-family:'Courier New', Courier, monospace;
}

.ragu-ingredients {
    font-family: 'Courier New', Courier, monospace;
}

.pasta {
    position: relative; left: 40px;
}

.pasta-ingredients {
    position: relative; left: -27px;
}

.sauce-ingredients {
    position: relative; left: -27px;
}

.recipe-panel {
    display: flex;
    gap: 30px;
}

.other-thai img {
    display: block;
    border-radius: 8px;
    position: relative; left: 15px; top: 20px;
    opacity: 0.5;
}

.other-thai img:hover {
    opacity: 1;
}

.other-thai a {
    color: #ffffff;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

.other-sasc a {
    color: #ffffff;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

.other-sasc img {
    display: block;
    border-radius: 8px;
    position: relative; left: 60px; top: 20px;
    opacity: 0.5;
}

.other-sasc img:hover {
    opacity: 1;
}