main {
    background-color: #e9a15d;
    margin: -10px;
    padding-top: 20px;
}

.home a {
    background-color: brown;
    border: outset;
    border-color: rgb(140, 33, 33);
    padding-top: -100px;
    position: relative; bottom: -10px;
    color: white;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
