/* style.css */

/* background content */
.page {
     background-image: url("./images/cooking.jpeg");
     background-size: cover;
     margin-top: -50px;
     margin-left: -10px;
     margin-right: -10px;
     margin-bottom: -50px; 
}

.page h1 {
     text-align: center;
     font-size: 60px;
     color:#ffffff
}

/* list of recipes content */
.panel {
    background-color: #e9a15d;
    color: #ffffff;
    opacity: 0.75;
    text-align: center;
    width: 400px;
}

/* hover effect added to images */
a img:hover{
    opacity: 0.5;
}

/* font added */
h1, h3{
    font-family:'Courier New', Courier, monospace;
}
